body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: white;
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body.dark {
  --accent-color: #d0d066;
  --background-color: #333;
  --text-color: #fff;
  --button-text-color: #333;
}
